@media (max-width: 1820px) {
    .track-form-textarea {
        padding-right: 326px;
    }
}
@media (min-width: 1641px) {
    .offer-card {
        margin-right: 15px;
    }
}
@media (max-width: 1760px) {
    .track-form-textarea {
        padding-right: 226px;
    }
    .header {
        background: #F6F8FF url("img/header-img.png") no-repeat top 57px right -100px;
    }
    .offer-card-title-small {
        font-size: 17px
    }
}
@media (max-width: 1640px) {
    .track-form-textarea {
        padding-right: 126px;
    }
    .header {
        background: #F6F8FF url("img/header-img.png") no-repeat top 57px right -200px;
    }
    .offer-card-block {
        flex-flow: row wrap;
    }
    .offer-card {
        margin: 10px 70px;
    }


}
@media (max-width: 1520px) {
    .track-form-textarea {
        padding-right: 26px;
    }
    .big-title {
        font-size: 62px;
        line-height: 98px;
    }
    .medium-title {
        font-size: 42px;
        line-height: 68px;
    }
    .small-title {
        font-size: 20px;
        line-height: 35px;
    }
    .partnership-block-logo {
        flex-flow: column wrap;
    }
    .partnership-block-logo-img {
        margin-bottom: 10px;
    }
    .track-form-textarea::placeholder {
        font-size: 20px;
    }
}
@media (max-width: 1420px) {
    .icon {
        display: inline-block;
        margin-right: 30px;
        font-size: 20px;
    }
    .nav-list {
        display: none;
    }




    .track-form-textarea {
        margin-right: 50px;
    }
    #track {
    padding:31px 50px;
    }
    .nav-list {
        margin-left: 10px;
    }
}